
/*Headlines*/
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1em;
}

.content {
    padding: 0 0 100px 0;
}

/*Content*/
.fieldset_questions input {
    margin:10px 7px 0 0 !important;
} 

.hs_playername {
    padding: 0 0 5px 0;
    border-bottom: 1px solid black;
    
}

ul.hs_listing li {
    list-style: none !important;
    margin: 0 0 10px 0;
}

.form_name {
    text-align: right;
}

.form_button {
    display: block;
    margin: 0 auto;
}

label {
    padding-right: 5px;
}
input[type=text] {
    border-radius: 5px;
    margin: 0 0 15px 0;
}

input[type=submit] {
    margin-bottom: 15px;
    width: 160px;
    border-radius: 5px;
    background-color: darkolivegreen;
    color:blanchedalmond;
    padding:10px;
}

input[type=submit]:hover {
    color:darkgreen;
    background-color: yellowgreen;
}

/*Footer*/

footer {
    position: fixed;
    height:80px;
    width:100%;
    bottom:0;
    left:0;
    padding:20px 0 0 0;
    background-color: blanchedalmond;
}

footer p {
    text-align: center;
    font-size:0.75em;
}